.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100%;
}

.form-container ::deep form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212929;
    gap: 5px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid var(--brd-color);
    padding: 10px;
    box-shadow: 0 4px 10px rgba(20, 30, 30, 0.4);
}

.form-container ::deep form h2 {
    margin-bottom: 5px;
    text-align: center;
}

.form-container ::deep form>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
}

.form-container ::deep form>div label,
.form-container ::deep form>div input {
    width: 100%;
}

.form-container ::deep form>div input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--brd-color);
}

.form-container ::deep form>div input:focus {
    outline: 2px solid var(--accent-color);
}

.form-container ::deep form>button {
    width: 100%;
    font-size: 1rem;
}

.link-form {
    margin-top: 10px;
}

.link-form a {
    padding: 3px;
    background-color: transparent;
}

.error {
    color: red;
    margin-bottom: 5px;
}