.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
    width: 100%;
}

.form-container h2 {
    text-align: center;
    border-bottom: 1px solid var(--txt-color);
    width: 100%;
}

.form-container ::deep form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 14px;
    border: 1px solid var(--txt-color);
    width: 400px;
}

.form-container ::deep form label,.form-container ::deep form input {
    width: 100%;
}

.form-container ::deep form input {
    padding: 5px;
}

.form-container ::deep form input:focus {
    outline: 1px solid var(--accent-color);
}

.form-container ::deep form button{
    width: 100%;
}
