.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-container ::deep form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 14px;
    border: 1px solid var(--txt-color);
}

.form-container ::deep form label,.form-container ::deep form input {
    width: 100%;
}

.form-container ::deep form input {
    padding: 5px;
    border: 1px solid var(--txt-color);
}

.form-container ::deep form button{
    width: 100%;
}

ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

ul li {
    border: 1px solid var(--txt-color);
    padding: 10px;
    list-style: none;
}