h2 {
    font-size: 2.2rem;
}

::deep form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

::deep form input {
    padding: 5px;
}

@media screen and (max-width: 600px) {


    ::deep form {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
}