.tab-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.tab-button button {
    border: none;
    padding-left: 0;
    padding-right: 0;
    transition: color 0.3s ease-in-out;
}

.tab-button button:hover {
    background-color: transparent;
    color: var(--accent-color);
}

.tab-active {
    border-bottom: 1px solid var(--txt-color) !important;
    color: var(--accent-color);
}