@using FriendStuff.Features.Auth.DTOs
@using FriendStuff.Features.Group.DTOs

@if (!string.IsNullOrEmpty(GroupName) && _group != null)
{
    <h2 style="font-size: 2.2rem">@_group.GroupName</h2>
    <EventFormComponent GroupName="@GroupName" UserInfo="@UserInfo"/>
}


@code {
    [Parameter]
    public string? GroupName { get; set; }
    [CascadingParameter(Name = "UserInfo")]
    public UserInfoDto? UserInfo { get; set; }

    private GroupDto? _group;

    protected override void OnParametersSet()
    {
        if (UserInfo != null)
        {
            _group = UserInfo.UserGroups
                .FirstOrDefault(g => g.NormalizeGroupName.Equals(GroupName))!;
        }
    }

}