@using FriendStuff.Features.Auth.DTOs
@using FriendStuff.Features.Group
@using FriendStuff.Features.Group.DTOs

@inject IGroupService GroupService
@inject NavigationManager NavigationManager

@rendermode  InteractiveServer

<div class="form-container">
<EditForm Model="GroupData" FormName="GroupForm" OnValidSubmit="Submit">
    <InputText @bind-Value="GroupData.GroupName" requried placeholder="Group Name"/>
    @if (!string.IsNullOrEmpty(_error))
    {
        <p class="error">@_error</p>
    } 
    <button>Create Group</button>
</EditForm>
</div>
@code {
    private GroupDto GroupData { get; set; } = new GroupDto();
    private string? _error = string.Empty;
    
    [Parameter]
    public UserInfoDto? UserInfo { get; set; }
    
    private async Task Submit()
    {
        try
        {
            if (UserInfo != null)
            {
                GroupData.AdminUsername = UserInfo.Username;
            }
            await GroupService.CreateGroup(GroupData);
            GroupData = new GroupDto();
            NavigationManager.NavigateTo("/", forceLoad:true);
        }
        catch (ArgumentException e)
        {
            _error = e.Message;
        }
        
    }
}
