.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

div > ::deep form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div > ::deep form button {
    padding: 5px;
}

div > ::deep form input {
    padding: 5px;
}