.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.form-container ::deep form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;

}

.form-container ::deep form input {
    padding: 5px;
}

.btn-remove-member {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    
}

ul li {
    border: 1px solid var(--txt-color); 
    padding: 10px; 
    list-style: none; 
    margin-bottom: 10px;
}

p > button {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .form-container ::deep form {
        justify-content: flex-start;
    }
}