@using FriendStuff.Features.Auth.DTOs;


<MudAppBar Fixed="true">
    <MudButton Variant="Variant.Outlined" Href="/">Friend Stuff</MudButton>
    <MudSpacer />
    <nav>
        @if (UserInfo != null)
        {
            <MudButton  Href="#" Variant="Variant.Outlined">@UserInfo.Username</MudButton>
        }
        else
        {
            <MudButton Href="/Account/Register" Variant="Variant.Outlined">Register</MudButton>
            <MudButton Href="/Account/Login" Variant="Variant.Outlined">Login</MudButton>
        }
    </nav>
</MudAppBar>

@code {
    [Parameter]
    public UserInfoDto? UserInfo { get; set; }
}