header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--brd-color);
    height: 50px;
}

header nav>a:first-of-type {
    margin-right: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    header {
        height: auto;
    }

    header nav {
        flex-direction: column;
    }
}