@using FriendStuff.Features.Auth.DTOs;


<MudAppBar Fixed="false">
    <MudText>Friend Stuff</MudText>
    <MudSpacer />
    <nav>
        @if (UserInfo != null)
        {
            <MudButton Href="#" Variant="Variant.Text" Color="Color.Primary">@UserInfo.Username</MudButton>
        }
        else
        {
            <MudButton Href="/Account/Register" Variant="Variant.Text" Color="Color.Primary">Register</MudButton>
            <MudButton Href="/Account/Login" Variant="Variant.Text" Color="Color.Primary">Login</MudButton>
        }
    </nav>
</MudAppBar>

@code {
    [Parameter]
    public UserInfoDto? UserInfo { get; set; }
}