@using FriendStuff.Components.Shared
@using FriendStuff.Features.Auth
@using FriendStuff.Features.Auth.DTOs;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims

@inherits LayoutComponentBase

@inject IAuthService AuthService
@inject AuthenticationStateProvider AuthenticationStateProvider


<HeaderComponent UserInfo="@UserInfo"></HeaderComponent>

<CascadingValue Value="UserInfo" Name="UserInfo">
    <main class="container">
        @Body
    </main>
</CascadingValue>

@code {
    UserInfoDto? UserInfo { get; set; }
    private ClaimsPrincipal? _user;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _user = authState.User;

        if (_user.Identity is { Name: not null, IsAuthenticated: true })
        {
            UserInfo = await AuthService.GetUserInfo(_user.Identity.Name);
        }
    }

}