* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --bg-color: #111;
    --accent-color: #FF4500FF;
    --txt-color: #f5f5f5;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
}

.container {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: flex-start;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

a, button {
    color: var(--txt-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

button {
    border: 1px solid var(--txt-color);
    padding: 8px 12px;
    font-size: 1.1rem;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

}

a:hover {
    color: var(--accent-color);
}

a:hover, button:hover {
    cursor: pointer;
}
button:hover {
    background-color: var(--accent-color);
    color: var(--txt-color);
}

.error {
    color: #ff2626;
}

.group-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.group-link a {
    border: 1px solid var(--txt-color);
    padding: 20px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.group-link a:hover {
    color: var(--txt-color);
    background-color: var(--accent-color);
}


@media screen and (max-width: 600px) {
    .section {
        align-items: center;
    }
    
    .group-link {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .group-link a {
        width: 100%;
    }

}